<header>
  <nav class="navbar" #navbar>
    <a (click)="scrollToSection($event, 'about')">About Me</a>
    <a (click)="scrollToSection($event, 'projects')">Projects</a>
    <a (click)="scrollToSection($event, 'contact')">Contact Me</a>
  </nav>
</header>

<div class="content">
  <div id="home" class="section"> 
    <div class="greeting-container">
      <div class="greeting-box col-12 col-lg-9">
        <h2 class="greeting-box__title"> 
          <h1>Hi I'm Emely Alonzo 👋 </h1> 
        </h2>
        <p>
          <strong>Software Engineer</strong> specialized in Full Stack Web Development
          with a strong background in JavaScript and TypeScript.
        </p>
      </div>
      <div class="greeting-img col-12 col-lg-3">
        <img
        src="../assets/profilePhotoEmely (3).jpg"
        alt="profile picture of Emely Alonzo"
        />
      </div> 
    </div>
    <div class="scroll-icon">
      <img  src="./assets/icons8-scroll-down-100.png" alt="">
    </div>
  </div>

  <div id="about" class="section">
    <div class="about-content">

      <h2>About Me</h2>
      <p>
        With 1.5 years of experience in full stack web development, I have honed
      my skills in building efficient and scalable applications. JavaScript and
      TypeScript are my primary programming languages, and I excel at leveraging
      frameworks such as Angular and Node.js to deliver high-quality solutions.
      <br />
      My goal is to develop innovative web applications that enhance user
      experiences while maintaining clean and well-documented code.
      <br />
      I am deeply passionate about the dynamic nature of the web development
      field. It motivates me to continuously expand my knowledge and stay
      abreast of the latest trends and technologies.
      <br />
      My experience collaborating with product teams throughout the entire
      development lifecycle has allowed me to effectively prioritize tasks,
      communicate ideas, and deliver exceptional results. With a strong
      commitment to continuous improvement, I actively seek opportunities for
      growth and actively contribute to the success of the projects I work on.
    </p>
  </div>
  </div>

  <div id="projects" class="section">
    <div class="projects-header">
      <h2>Projects</h2>
      <p>There are some of the projects that I've worked on:</p>
    </div>
    <div class="projects-box">
      <div class="projects-box__container">
        <div class="projects-box__container__description">
          <p>
            Developed a comprehensive hotel management tool that streamlined
            operations and enhanced guest experiences. Implemented responsive
            design and intuitive user interfaces to ensure a seamless experience
            across devices.
          </p>
        </div>
        <div class="projects-box__container__title">
          <a href="https://github.com/emelyalonzo" class="project-link" target="_blank">
            Hotel Management Tool
            <br />
            (Angular, Node.js)
          </a>
        </div>
      </div>
      <div class="projects-box__container">
        <div class="projects-box__container__description">
          <p>
            Created a unique dating app for cats, called PetLof. Developed the
            frontend using React, implementing a visually appealing and
            intuitive user interface for browsing and matching with cats. On the
            backend, utilized Node.js and Express to handle user authentication,
            cat profiles. Integrated MongoDB as the database to store user and
            cat information securely.
          </p>
        </div>
        <div class="projects-box__container__title">
          <a href="https://github.com/emelyalonzo/petlof-back-prod" class="project-link" target="_blank">
            PetLof
            <br />
            (React, Node.js, Express, MongoDB)
          </a>
        </div>
      </div>
      <div class="projects-box__container">
        <div class="projects-box__container__description">
          <p>
            Developed a vaccination system tool in Python to improve planning
            and efficiency of COVID-19 vaccination campaigns. Utilized Python's data
            manipulation and analysis libraries to process and analyze
            vaccination data. Implemented algorithms to optimize appointment
            scheduling and prioritize high-risk individuals.
          </p>
        </div>
        <div class="projects-box__container__title">
          <a href="https://github.com/emelyalonzo/vaccination-system" class="project-link" target="_blank">
            Vaccination System
            <br />
            (Python)
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="section">
    <h2>Contact Me</h2>
    <div class="contact-box">
      <p>Get in touch with me for exciting opportunities and collaborations!</p>
      <a href="mailto:emelyalonzom@gmail.com" rel="noopener noreferrer">emelyalonzom@gmail.com</a>
    </div>
  </div>
</div>

<footer>
  <a href="https://www.linkedin.com/in/emelyalonzo/">LinkedIn</a>
  <a href="https://leetcode.com/emelyalonzo/">LeetCode</a>
  <a href="https://github.com/emelyalonzo">GitHub</a>
</footer>